body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form-box input, .form-box button, #searchBox {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

ul li {
    background: #e3e3e3;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

.actions button {
    margin-left: 10px;
}
